/* --- DEFINE ALL THE GLOBAL STYLES AND IMPORTS --- */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
    font-family: "Lato", sans-serif;
}

.logo-gradient {
    background: linear-gradient(to right, #ff00d4, #7c3aed);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Lato", sans-serif !important;
}

.ff-nav-bar-links {
    color: black !important;
    font-family: "Lato", sans-serif !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    text-transform: capitalize !important;
    text-decoration: none !important;
    margin-top: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;

}

.gradient-btn {
    background: linear-gradient(to right, #ff00d4, #7c3aed);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    font-family: "Lato", sans-serif !important;
    font-weight: 300;
}

.gradient-btn:hover {
    opacity: 0.9;
}

/* --- FOOTER STYLES --- */
.footer_text {

    font-family: "Lato", sans-serif !important;
}